{{#each data}}
  <li class="dataItem" id="{{ _id }}">

    {{ fullName }}

    <span class="delete" id="delete"><i class="fa fa-times"></i></span>


    <ul class='contactInfo'>
      <li>
        {{ phoneNumber }}
      </li>
      <li>
        {{ email }}
      </li>
      <li>
        {{ handle }}
      </li>
      <li class="categoryList">
        {{ category }}
      </li>
    </ul>
  </li>
{{/each}}