{{#each data}}
  <li id="{{ _id }}">

    {{ fullName }}

    <p class="delete" id="delete">X</p>


    <ul class='contactInfo'>
      <li>
        Phone Number:
        {{ phoneNumber }}
      <li>
        Email:
        {{ email }}
      </li>
      <li>
        Twitter Handle:
        {{ handle }}
      </li>
      <li>
        Category:
        {{ category }}
      </li>
    </ul>
  </li>
{{/each}}