{{#each data}}
  <li class="dataItem" id="{{ _id }}">

    {{ fullName }}

    <span class="delete" id="delete"><i class="fa fa-trash"></i></i></span>


    <ul class='contactInfo'>
      <li>
        <i class="fa fa-phone"></i>
        {{ phoneNumber }}
      </li>
      <li>
        <i class="fa fa-envelope-o"></i>
        {{ email }}
      </li>
      <li>
        <i class="fa fa-twitter"></i>
        {{ handle }}
      </li>
      <li class="categoryList">
        <i class="fa fa-tag"></i>
        {{ category }}
      </li>
    </ul>
  </li>
{{/each}}