{{#each data}}
  <li id="{{ _id }}">

    {{ fullName }}

    <p class="delete" id="delete">X</p>


    <ul class='contactInfo'>
        <p>Phone Number:</p>
      <li>
        {{ phoneNumber }}
        <p>Email:</p>
      <li>
        {{ email }}
      </li>
        <p>Twitter Handle:</p>
      <li>
        {{ handle }}
      </li>
        <p>Category:</p>
      <li class="categoryList">
        {{ category }}
      </li>
    </ul>
  </li>
{{/each}}